<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>THis is your home page</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum molestiae minus quisquam, perspiciatis quas eligendi, tenetur ab eaque explicabo ducimus dolorum asperiores perferendis consequuntur voluptas, vero unde quo eius sapiente?</p>
<button>Click me</button>
</body>
<script src="script.js"></script>
</html>