<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
</head>
<body>
    <h1>View in detaiils</h1>
    <p>Post id:-<%=post.id%></p>
    <h2>Username:<%=post.username%></h2>
    <h2>Post:<%=post.post%></h2>
</body>
</html>