.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card{
    width: 30%;
    margin: 1rem;
    height: 70vh;
    overflow: hidden;
    box-shadow: 2px 2px 6px goldenrod;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.card-img{
    overflow: hidden;
    /* position: relative; */
    height: 70%;
    width: 100%;
}
.card-img img{
    height: 100%;
    width: 100%;
    
}
.card-img:hover{
   opacity: 0.8;
    
}

.card-title{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    height: 7.5%;
overflow: scroll;
    
}
.card-description{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
    height: 13%;
overflow: scroll;
    
}