<footer>
    <div class="f-info">
        <div > <a href="#"><i class="fa-regular fa-copyright"></i>2024 Airbnb, Inc.</a></div>
        <div class="f-info-links">
            <a href="">路 Privacy</a>
            <a href="">路 Terms</a>
            <a href="">路 TermsSitemap</a>
            <a href="">路 SitemapCompany details</a>
        </div>
    
    <div class="f-info-social">
        <a href="/in"><i class="fa-solid fa-globe"></i>English (IN)</a>
        <a href="/inr"><i class="fa-solid fa-indian-rupee-sign"></i>INR</a>
        <a href="/facebook"><i class="fa-brands fa-facebook"></i></a>
        <a href="/telegram"><i class="fa-brands fa-telegram"></i></a>
        <a href="/instagram"><i class="fa-brands fa-instagram"></i></a>
    </div>
</div>
</footer>